# Dependencies
node_modules/
/dist
/build
package-lock.json
yarn.lock
spaces.py

# Python Caches & Build Outputs
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.noscript/
nosetests.xml
coverage.xml

# IDE / Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db